body {
    margin: 0px;
}

.index__slide {
    display: block;
    text-align: center;
    border: 2px solid;
    height: 20vh;
    background-color: greenyellow;
}

.index__title {
    display: block;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.index__destacados {
    display: flex;
    position: relative;
    width: 100%;
    margin: -1;
    justify-content: space-around;
    flex-wrap: wrap;
}

.index__art {
    width: 18%;
    height: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border: 2px solid;
}
