/* HEADER */
header {
    background-color: lightgreen;
    display: flex;
}

.header__search {
    width: 30%;
}

.searchbar {
    position: relative;
    top: 5cm;
    left: 3cm;
    width: 100%;
    height: 30px;
    border-radius: 8px; 
}

.header__logo {
    width: 30%;
}

.header__picture {
    width: 100%;
}

/* HEADER */


/* FOOTER */

body {
    font-family: 'Archivo Narrow', sans-serif;
}

footer {
    width: 100%;
    color: white;
    background-color:#008575;
    padding: 12px;
    display: flex;
}

.social {
    width: 33%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #e2e2e2;
    padding-left: 20px;
}

.site-map {
    padding-left: 20px;
    width: 66%;
    display: flex;
    align-content: space-center;
}

 .social i {
    color: white;
    font-size: 30px;
    margin-right: 20px;
}

footer ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.site-map div {
    width: 33%;
}

footer li {
    margin-top: 15px;
}

/* FOOTER */