body {
    margin: 0px;
}

.footer {
    font-family: 'Cabin', sans-serif;
    background-color: #008575;
    color: white;
    box-sizing: border-box;
    padding: 25px;
}

.links-ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.footer-site-map li {
    margin-bottom: 10px;
}

.footer-site-map li:hover {
    text-decoration: underline;
}

.footer-site-map a {
    text-decoration: none;
    color: white;
}

.links {
    margin-bottom: 30px;
}

.footer-social {
    margin-bottom: 30px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    color: white;
    font-size: 30px;
    margin-right: 40px;
}

@media screen and (min-width: 768px) {
    .footer-site-map {
        display: flex;
        justify-content: space-around;
    }

    .footer-social {
        display: flex;
        flex-flow: column;
        margin-bottom: 60px;
    }

    .social-title {
        align-self: center;
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .icon-container {
        display: flex;
        justify-content: center;
    }
    .social-icons {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1080px) {
    
    .footer {
        padding-left: 170px;
        padding-right: 170px;
    }

    .footer-upper {
        display: flex;
    }

    .links {
        margin-right: 130px;
    }

    .footer-social {
        justify-content: flex-start;
        border-left: solid 1px white;
        padding-left: 30px;
    }

    .social-title {
        align-self: flex-start;
    }

    .social-icons {
        margin-right: 30px;
        margin-left: 0px;
    }

    .footer-bottom {
        justify-content: flex-start;
    }

    .footer-bottom {
        border-top: solid 1px white;
        padding-top: 30px;
    }
}