<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiBlo</title>
    <link rel="stylesheet" href="/stylesheets/style-index.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 
    <div class="container">
        <section class="index__slide"><img src="/images/slide.png" alt=""></section>
        <section class="index__categorias">
            <h2>DESTACADOS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail/1"><div class="index__producto"><img src="/images/cn-cover.jpg" alt="portada1" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$956</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail/2"><div class="index__producto"><img src="/portadas/saov-cover.jpg" alt="portada2" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$260</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/3"><div class="index__producto"><img src="/portadas/ct-cover.jpg" alt="portada3" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$260</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/4"><div class="index__producto"><img src="/portadas/gm-cover.jpg" alt="portada4" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$450</br></div>
                </div>     
            </article>
            <h2>OFERTAS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail/5"><div class="index__producto"><img src="/portadas/tkb-cover.jpg" alt="portada5" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $1220</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/6"><div class="index__producto"><img src="/portadas/tsf-cover.jpg" alt="portada6" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $650</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/7"><div class="index__producto"><img src="/portadas/hbb-cover.jpg" alt="portada7" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $650</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail/8"><div class="index__producto"><img src="/portadas/op-cover.jpg" alt="portada8" class="index__product__image"></div></a>
                    <div class="index__precio"><br>Oferta! $650</br></div>
                </div> 
            </article>
            <h2>NOVEDADES</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail/9"><div class="index__producto"><img src="/portadas/vp-cover.jpg" alt="portada9" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$650</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/10"><div class="index__producto"><img src="/portadas/upp-cover.jpg" alt="portada10" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$650</br></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail/11"><div class="index__producto"><img src="/portadas/h-cover.jpg" alt="portada11" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$650</br></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail/12"><div class="index__producto"><img src="/portadas/mv-cover.jpg" alt="portada12" class="index__product__image"></div></a>
                    <div class="index__precio"><br>$650</br></div>
                </div> 
            </article>
        </section>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>
