<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá a BiBlo</title>
    <link rel="stylesheet" href="/stylesheets/style-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="/images/logo/biblo_blanco.svg" alt="">
        </div>
    </header>
    <div class="container">
        <form action="">
            <div class="title-container">
                <h1>Ingresá tu e-mail o usuario</h1>
            </div>
            <div class="input-container">
                <div class="container-name">
                    <input type="text" id="name" placeholder="e-mail o usuario" autofocus>
                </div>
                <div class="container-pass">
                    <input type="password" id="password" placeholder="Clave" autofocus>
                </div>
                <div class="container-boton-accept">
                    <button type="submit" class="accept-button">Continuar</button>
                </div>
            </div>
        </form>
        <div class="container-boton-registration">
            <a href="/users/create"><button type="button" class="registration-button">Crear cuenta</button></a>
        </div>
        <br>
        <div class="recordame">
            <input type="checkbox" name="rememberme">Recordarme
        </div>
        <div class="recover-container">
            <a href="" class="recover">Recuperar usuario o clave</a>
        </div>
    </div>
</body>
</html>