<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá a BiBlo</title>
    <link rel="stylesheet" href="/stylesheets/style-login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="" alt="">
        </div>
    </header>
    <div class="container">
        <% if (typeof errors != 'undefined') {%> 
            <p style='color:red'>Error:</p>
            <ul>
                <% for (let i=0; i<errors.length; i++) {%> 
                    <li>
                        <% errors[i].msg %> 
                    </li>
                <% } %> 
            </ul>
        <% } %> 
        <form action="/users/login" method="POST">
            <div class="title-container">
                <h1>Ingresá tu e-mail</h1>
            </div>
            <div class="input-container">
                <div class="container-name">
                    <input type="email" id="email" name='email' placeholder="e-mail" autofocus>
                </div>
                <div class="container-pass">
                    <input type="password" id="password" name='password' placeholder="Clave" autofocus>
                </div>
                <div class="container-boton-accept">
                    <button type="submit" class="accept-button">Continuar</button>
                </div>
            </div>
        </form>
        <div class="container-boton-registration">
            <a href="registration"><button type="button" class="registration-button">Crear cuenta</button></a>
        </div>
        <br>
        <div class="recordame">
            <input type="checkbox" name="rememberme">Recordarme
        </div>
        <div class="recover-container">
            <a href="" class="recover">Recuperar usuario o clave</a>
        </div>
    </div>
</body>
</html>