<footer>
    <div class="bg-white font-roboto rounded-t-md px-3 py-5 shadow-md text-gray-800 lg:max-w-screen-lg lg:mx-auto">
        <div class="max-w-sm pb-4">
            <span class="block pb-3 text-sm text-biblogreen-600">Sigamos en contacto:</span>
            <form action="" class="pb-3">
                <div  class="flex items-center text-gray-800 text-sm form-input w-full mx-auto border-biblogreen-200">
                    <input type="email" class=" text-gray-800 text-sm w-full mx-auto border-0 p-0 outline-none">
                    <a href="#" class="text-biblogreen-300 text-base border-l pl-3 hover:text-biblogreen-600">Suscribirme</a>
                </div>
            </form>
        </div>
        <div>
            <a href="#" class="block text-sm pb-2 text-biblogreen-600">Sobre nosotros</a>
            <a href="#" class="block text-sm pb-2 text-biblogreen-600">Trabajá en Biblo</a>
            <a href="#" class="block text-sm pb-2 text-biblogreen-600">Política de privacidad</a>
            <a href="#" class="block text-sm pb-2 text-biblogreen-600">Términos y condiciones</a>
            <a href="#" class="block text-sm pb-4 text-biblogreen-600">Ayuda</a>
        </div>
        <p class="text-biblogreen-400 text-xs pt-3 border-t">Copyright © 2020 Biblo.</p>
    </div>
</footer>