<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo/favicon.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
</head>
    <header>
        <div class="w-auto mx-auto bg-biblogreen-600 pl-12 z-10">
            <img class="w-32 py-5 pl-16 block" src="/images/logo/biblo_blanco.svg" alt="">
        </div>
    </header>
</html>