<header class="">
    <div class="bg-white shadow-md rounded-b-md">
    <div class="bg-white font-roboto px-3 pb-3 pt-2 lg:pt-5 mb-10 text-gray-800 lg:max-w-screen-lg lg:mx-auto md:flex md:items-center justify-between sm:px-5">
        <div class="md:flex md:items-center w-full">
            <div class="flex justify-between">
                <div class="py-3 mr-16">
                    <a href="/"> <img src="/logo/biblo_05.svg" class="w-16 md:w-20 lg:w-20" alt="Biblo Logo"></a>
                </div>
                <div class="flex items-center md:hidden">
                    <div id="user_div">
                        <a href="/users/login" id="user_redirect" class="text-biblogreen-500 hover:text-biblogreen-700 text-xl pr-3 border-r border-biblogreen-300 flex"><i class="fas fa-user"></i></a>
                    </div>
                    <div id="cart_div" class="relative w-15 pr-1">
                        <a href="" class="text-biblogreen-500 hover:text-biblogreen-700 text-2xl pl-5 lg:text-center">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="md:w-1/2">
                <form action="/products/search">
                    <div  class="flex items-center text-gray-800 text-sm form-input w-full mx-auto border-biblogreen-200">
                        <input type="text" name="search_field" placeholder="Buscar por título, autor, editorial, isbn, género" class=" text-gray-800 text-sm w-full mx-auto border-0 p-0 outline-none ">
                        <button type="submit" class="text-biblogreen-300 text-base border-l pl-3 hover:text-biblogreen-600 active:outline-none focus:outline-none">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="text-center pt-3 md:flex md:pt-4">
                    <a href="#" class="text-sm text-biblogreen-600 pr-3 lg:border-r border-biblogreen-300 hover:text-biblogreen-800">Libros</a>
                    <a href="#" class="text-sm text-biblogreen-600 px-3 lg:border-r border-biblogreen-300 hover:text-biblogreen-800">Novedades</a>
                    <a href="#" class="text-sm text-biblogreen-600 pl-3 hover:text-biblogreen-800">Recomendados</a>
                </div>
            </div>
        </div>
        <div class="hidden md:flex">
            <a href="/users/login" id="user_redirect" class="text-biblogreen-500 hover:text-biblogreen-700 text-2xl pr-5 border-r border-biblogreen-300 lg:text-center">
                <div id="user_div">
                    <i class="fas fa-user"></i>
                </div>
            </a>
            <div id="cart_div" class="relative w-15 pr-1">
                <a href="" class="text-biblogreen-500 hover:text-biblogreen-700 text-2xl pl-5 lg:text-center">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/scripts/HeaderScript.js"></script>
</header>
