<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiBlo</title>
    <link rel="stylesheet" href="/stylesheets/style-index.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 
    <div class="container">
        <section class="index__slide"><img src="/images/slide.png" alt=""></section>
        <section class="index__categorias">
            <h2>DESTACADOS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/cn-cover.jpg" alt="portada1" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada2.jpg" alt="portada2" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada3.jpg" alt="portada3" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada4.jpg" alt="portada4" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div>     
            </article>
            <h2>OFERTAS</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada5.jpg" alt="portada5" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada6.jpg" alt="portada6" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada7.jpg" alt="portada7" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada8.jpg" alt="portada8" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
            </article>
            <h2>NOVEDADES</h2>
            <article class="index__categoria">
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada9.jpg" alt="portada9" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada10.jpg" alt="portada10" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada11.jpg" alt="portada11" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div>
                <div class="index__cajaprod">
                    <a href="/products/detail"><div class="index__producto"><img src="/images/portadas/portada12.jpg" alt="portada12" class="index__product__image"></div></a>
                    <div class="index__precio"></div>
                </div> 
            </article>
        </section>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>
